<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - ALUNO360</title>
  <!-- Link para o CSS de login -->
  <link rel="stylesheet" href="css/styles-login.css">
</head>
<body>
  <div class="login-container">
    <div class="circle">
      <div class="logo">ALUNO360</div>
    </div>
    <form class="login-form">
      <input type="text" id="username" class="input-field" placeholder="Digite o nome do seu usuário" />
      <input type="password" id="password" class="input-field" placeholder="Digite a senha" />
      <button type="button" id="loginButton" class="login-button">Login</button>
    </form>
    <p class="version">VERSÃO 0.00.01</p>
  </div>
  
  <!-- Link para o script de login -->
  <script src="js/login.js"></script>
</body>
</html>
