<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo ao ALUNO360</title>
  <!-- Link para o CSS da página principal -->
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header class="header">
    <div class="menu-icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="logo-container">
      <h1 class="logo">ALUNO360</h1>
    </div>
    <button class="search-button" id="searchButton">Iniciar pesquisa</button>
    <p class="description">
      Uma ferramenta estratégica para o sucesso dos alunos. Potencializando a educação.
    </p>
  </header>

  <main class="main-content">
    <h1 class="welcome-message">BEM VINDO AO ALUNO360</h1>
    <img class="img" src="imagens/MAOS.jpg" alt="Pessoa digitando em um laptop">
  </main>

  <footer class="footer">
    <p>VERSÃO 0.00.01</p>
  </footer>
  
  <!-- Link para o script da página principal -->
  <script src="js/script.js"></script>
</body>
</html>
